# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/

# Data (Sensitive)
data/
*.csv
*.json
!tests/sample_report.json
*.sqlite
*.db

# Compliance reports
compliance_reports/

# Environments
.env
.venv
env/
venv/
ENV/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints
